.loading-spinner {
  background-color: #fff;
  width: 200px;
  height: 95vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.loading-spinner img {
  width: 100%;
  filter: grayscale(100%);
  animation: colorFill 1.5s linear infinite;
}

@keyframes colorFill {
  0% {
    filter: grayscale(100%);
  }

  100% {
    filter: grayscale(0%);
  }
}
