.primaryMenus {
  border-radius: 10px;
  border: 0.5px solid #b3b3b3;
  background:  #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.withEdit.primaryMenus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-right: 0.5px solid #b3b3b3;
}

.img_wrap span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #b3b3b3;
}

.btn_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #b3b3b3;
  transform: rotate(0deg);
}

.btn_rotation {
  transform: rotate(90deg);
}

.primaryMenus h1 {
  width: 80%;
  color: #666;
  font-family: 'Pretendard';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-left: 20px;
}

.primaryMenus .box:first-child {
  width: 10%;
  border-right: 0.5px solid #b3b3b3;
  text-align: center;
}

.primaryMenus .box:last-child {
  width: 18.2%;
}
